<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
</head>
<body>
    <%- include ('../partials/_navbar.ejs') %>
    <h1>Welcome to the CookBook Community!</h1>
    <h3>Explore other users' pantries:</h3>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.username %> - <a href="/users/<%= user._id %>">pantry</a></li>
        <% }) %>
    </ul>
</body>
</html>